
TABLE.recordlist TH,
TABLE.recordlist TD,
TABLE.recordlist A
{
  font-family: Verdana,Helvetica,Arial;
  font-size: 11px;
  text-align: left;
  border-width: 1px;
}

TABLE.recordlist TH,
TABLE.recordlist TH A
{
  background-color: #cccccc;
  color: #000000;
  font-weight: bold;
}

TABLE.recordlist TD,
TABLE.recordlist TH
{
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  padding: 3px;
  margin: 0px;

}

TABLE.recordlist .row1
{
  background-color: #ffffff;
}

TABLE.recordlist .row2
{
  background-color: #eeeeee;
}

img.recordlist
{
  width: 16px;
  height: 16px;
}