BODY
{
  background-color: #D5D5D5;
  color: #000000;
  font-size: 10px;
  font-family: Lucida Sans, verdana,Helvetica,Arial,serif;
  font-weight: normal;  
}

A:link,
A:visited,
A:active,
TD
{
  color: #000000;
  font-size: 10px;
}

A:hover
{
  color: #660000;
  font-size: 10px;
}  

.stacktrace,
A.stacktrace:link,
A.stacktrace:visited
{
  font-family: Lucida Sans, verdana, helvetica, arial,serif;
  font-size: 11px;
  font-style: italic;
  color: #555555;
}

.stacktrace_end
{
  font-family: Lucida Sans, verdana, helvetica, arial,serif;
  font-size: 11px;
  font-style: italic;
  color: #000000;
}

.fieldlabel
{
  font-family: Lucida Sans, Lucida Sans, verdana, helvetica, arial, serif;
  font-size: 11px;  
  color: #333333;
  text-align: right;
}

.field
{
  font-family: Lucida Sans, verdana, helvetica, arial, serif;
  font-size: 12px;  
  color: #000000;
  text-align: left;
}




INPUT,
SELECT,
TEXTAREA
{
  background-color: #eeeeee;
  color: #000000;
  font-family: Lucida Sans, verdana, helvetica, arial, serif;
  font-size: 11px;  
}

INPUT.btn,
INPUT.btn_save,
INPUT.btn_cancel,
INPUT.btn_saveandclose,
INPUT.btn_saveandnext
{
  background-color: #CCCCCC;
  height: 25px;
}

INPUT.btn_saveandclose
{
  font-weight: bold;
}

.errorlabel
{  
  color: #FF0000;
  font-family: Lucida Sans, verdana, helvetica, arial, serif;
  font-size: 12px;     
  text-align: left;
}

.error
{
  color: #FF0000;
  font-family: Lucida Sans, verdana, helvetica, arial, serif;
  font-size: 12px;     
  text-align: left;
}

.atkAttrRowHidden
{
  display: none !important;
}
