<td valign="bottom">
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="[IMAGEDIR]/tab_left_s.gif"></td>
      <td height="22" valign="middle" background="[IMAGEDIR]/tab_back_s.gif" align="left" nowrap><b><small style="color:black;font-size:9pt">&nbsp;[TITLE]&nbsp;</td>
      <td><img src="[IMAGEDIR]/tab_right_s.gif"></td>
    </tr>
  </table>
</td>