<td valign="bottom">
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="[IMAGEDIR]/tab_left.gif"></td>
      <td height="22" valign="middle" background="[IMAGEDIR]/tab_back.gif" align="left" nowrap><b><small style="color:#ffffff;font-size:9pt">&nbsp;<a href="[LINK]" style="color:#ffffff;text-decoration:none">[TITLE]</a>&nbsp;</td>
      <td><img src="[IMAGEDIR]/tab_right.gif"></td>
    </tr>
  </table>
</td>