<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr align="center" bgcolor="#666666">
<td height="20"><font size="-1" color="#efefef"><b>
[HEADER]</b></font></td>
</tr>

<tr bgcolor="#FFCC66">
<td><img src="[IMAGEDIR]/speck.gif" width="1"
height="2" alt=""></td>
</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="1"
bgcolor="#efefef">
<tr bgcolor="#666666">
<td>
<table width="100%" border="0" cellspacing="0" cellpadding="2"
bgcolor="#efefef">
<tr>
<td valign="middle" align="left"><font size="-1" color="#666666">
