@import '../../bootstrap/styles/recordlist.css';

/* GRID */

.recordList th {
	background-color: #749ABE;
}

.recordList .form-control {
	font-size: 12px;
	padding: 0;
	display: inline-block;
	height: auto;
	width: auto;
	float: left;
	margin-right: 8px;
	border-radius: 2px;
}

.recordList td a {
	color: #414141;
	text-decoration: underline;
}

.actions .btn {
	background: transparent;
	border-color: transparent;
}

.actions .btn:hover {
	border-color: #ccc;
}

.actions .glyphicon-trash {
	color: #F44336;
}
