:root {
    --system-ui: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
    font-family: var(--system-ui);
}

body {
    font-family: var(--system-ui);
}
