:root {
    --system-ui: "Helvetica Neue", Helvetica, Arial, sans-serif system-ui, "Segoe UI", Roboto, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif system-ui, "Segoe UI", Roboto, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
    font-family: var(--system-ui);
}

body {
    font-family: var(--system-ui);
}