BODY
{
  background-color: #eeeeee;
  color: #000000;
  font-size: 10px;
  font-family: Verdana,Helvetica,Arial;
  font-weight: none;  
}

A:link,
A:visited,
A:active,
TD
{
  color: #000000;
  font-size: 10px;
}

A:hover
{
  color: #660000;
  font-size: 10px;
}  

.stacktrace,
A.stacktrace:link,
A.stacktrace:visited
{
  font-family: verdana, helvetica, arial;
  font-size: 11px;
  font-style: italic;
  color: #555555;
}

.stacktrace_end
{
  font-family: verdana, helvetica, arial;
  font-size: 11px;
  font-style: italic;
  color: #000000;
}

.fieldlabel
{
  font-family: verdana, helvetica, arial;
  font-size: 12px;  
  color: #000000;
  text-align: left;
}

.field
{
  font-family: verdana, helvetica, arial;
  font-size: 12px;  
  color: #000000;
  text-align: left;
}

.tab
{
  font-family: verdana, helvetica, arial;
  font-size: 12px;  
  font-weight: bold;
  color: #ffffff;
}

.tab_selected
{
  font-family: verdana, helvetica, arial;
  font-size: 12px;  
  font-weight: bold;
  color: #000000;
}

INPUT,
SELECT,
TEXTAREA
{
  background-color: #eeeeee;
  color: #000000;
  font-family: verdana, helvetica, arial;
  font-size: 11px;  
}

INPUT.btn,
INPUT.btn_save,
INPUT.btn_cancel,
INPUT.btn_saveandclose
{
  background-color: #CCCCCC;
  height: 25px;
}

INPUT.btn_saveandclose
{
  font-weight: bold;
}

.topbg
{
  background: #52006A;
 
}

.menubg
{
  background: #F00;  
}



.error
{  
  color: #FF0000;
  font-family: verdana, helvetica, arial;
  font-size: 12px;   
}
