<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr valign="TOP" bgcolor="#660000">
  <td bgcolor="#DDDDDD"><img src="[IMAGEDIR]/pix.gif" width="3" height="3" alt=""></td>
  <td><img src="[IMAGEDIR]/cl.gif" width="7" height= "10" alt=""></td>
  <td><font face="verdana,helvetica,arial" size="1" color="#FFFFFF"><b>[HEADER]</b></font></td>
  <td align="RIGHT"><img src="[IMAGEDIR]/cr.gif" width="7" height="10" alt=""></td>
  <td bgcolor="#DDDDDD" align="RIGHT"><img src="[IMAGEDIR]/pix.gif" width="3" height="3" alt=""></td>
</tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
  <td bgcolor="#660000" colspan="3"><img src="[IMAGEDIR]/pix.gif" width="1" height="1"></td>
</tr>

<tr>
  <td background="[IMAGEDIR]/sl.gif" width=3><img src="[IMAGEDIR]/pix.gif" width="3" height="3" alt=""></td>
  <td bgcolor="#FFFFFF" width="100%">
  <table width="100%" border="0" cellpadding="5" cellspacing="0">
  <tr>
    <td bgcolor="#FFFFFF"><font face="verdana,helvetica,arial" size="1">
