</font>
</td><td width=1% background="[IMAGEDIR]/right.gif">

<img src="[IMAGEDIR]/speck.gif" width=10 height=1><br>
</td></tr></table>
<table width=100% cellpadding=0 cellspacing=0 border=0 background="[IMAGEDIR]/bottom.gif" height=6>
<tr>
<td width=7><img 
src="[IMAGEDIR]/bleft.gif" width=7 height=6 alt="" border=0><br>
</td><td>
<img src="[IMAGEDIR]/speck.gif" width=1 height=1><br>
</td><td align=right>
<img src="[IMAGEDIR]/bright.gif" width=5 height=6 alt="" border=0><br>
</td></tr></table>
<br>