BODY
{
  background-color: #D5E8F4;
  color: #000000;
  font-size: 10px;
  font-family: Verdana,Helvetica,Arial,serif;
  font-weight: normal;  
}

A:link,
A:visited,
A:active,
TD
{
  color: #000000;
  font-size: 10px;
}

A:hover
{
  color: #660000;
  font-size: 10px;
}  

.stacktrace,
A.stacktrace:link,
A.stacktrace:visited
{
  font-family: verdana, helvetica, arial,serif;
  font-size: 11px;
  font-style: italic;
  color: #555555;
}

.stacktrace_end
{
  font-family: verdana, helvetica, arial,serif;
  font-size: 11px;
  font-style: italic;
  color: #000000;
}

.fieldlabel
{
  font-family: verdana, helvetica, arial, serif;
  font-size: 12px;  
  color: #000000;
}

.field
{
  font-family: verdana, helvetica, arial, serif;
  font-size: 12px;  
  color: #000000;
}




INPUT,
SELECT,
TEXTAREA
{
  background-color: #EFF6FF;
  color: #000000;
  font-family: verdana, helvetica, arial, serif;
  font-size: 11px;  
}

INPUT.btn,
INPUT.btn_save,
INPUT.btn_cancel,
INPUT.btn_saveandclose
{
  background-color: #CCCCCC;
  height: 25px;
}

INPUT.btn_saveandclose
{
  font-weight: bold;
}

.error
{  
  color: #FF0000;
  font-family: verdana, helvetica, arial, serif;
  font-size: 12px;   
}
