.atkmanytomanyselectrelation-selection
{
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.atkmanytomanyselectrelation-selected
{
    margin-bottom: 3px;
}


.atkmanytomanyselectrelation {
    white-space: nowrap;
}

.atkmanytomanyselectrelation-selection {
    padding-left: 0px;
    margin-bottom: 5px;
}

a.atkmanytomanyselectrelation-link {
    color: #ba0000;
}