/* ------ HOOFDMENU ------ */
BODY
{
    margin: 0px;
}

#nav
{
    font-family: verdana, Sans-serif;
    font-size: 11px;
    font-weight: normal;
    display: block;
    height: 26px;
    margin: 0px;
    z-index: 50;
    width: auto;
    position: fixed;
    top: 3px;
    left: 130px;
    color: white;
}

#nav a
{
    height: 26px;
    _height: 26px;
    margin: 0 0 0 0.1em;
    /*background-color: #2e8dfd;*/
}

#nav ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 50;
}

#nav ul li
{
    background-color: transparent;

    display: block;
    float: left;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-right: 2px;
    position: relative;
    width: auto;
    z-index: 50;
}

#nav ul li a
{
    height: 21px;
    _height: 21px;
    display: block;
    font-size: 11px;
    width: auto;
    color: white;
    text-decoration: none;
    text-align: left;
    padding: 5px 10px 0px 8px;
    top: 0px;
    margin: 0px;
    float: left;
}




#nav ul li a:hover,
#nav ul li a.hover
{
    background-color: #96c7f4;
    color: white;
}

/* same as the above, but internet explorer < 7 chokes if we add it to the above */
#nav ul li:hover > a
{
    background-color: #96c7f4;
    color: #fff;
}

#nav ul ul li a
{
    padding: 6px 14px 6px 8px;
    font-size: 11px;
    font-weight: normal;
    background-color: #749abe;
    background-image: none;
    border-top: 1px solid #96c7f4;
    border-bottom-width: 0px;
}

#nav ul ul
{
    display: none;
    left: 0px;
    top: 26px;
    width: 142px;
    position: absolute;
    border-top: 1px solid #f3f3f3;
}

#nav ul ul ul,
#nav ul ul ul ul
{
    display: none;
    left: 142px;
    top: 0px;
    width: 120px;
    position: absolute;
}

#nav ul li:hover ul
{
    display: block;
    position: absolute;
    top: 26px;
    left: 0;
}

#nav ul li:hover ul ul,
#nav ul li:hover ul ul ul
{
    display: none;
}

#nav ul ul li:hover ul,
#nav ul ul ul li:hover ul
{
    display: block;
    left: 142px;
    top: 0px;
}

#nav ul ul li
{
    display: block;
    float: left;
    top: 0;
    height: auto;
}

#nav ul ul li a
{
    display: block;
    float: left;
    width: 120px;
    height: auto;
}

li>ul {
    top: auto;
    left: auto;
}

#nav li.separator div
{
    height: 0px;
    width: 142px;
    border-bottom: 1px dashed #96c7f4;
}

#nav a[href="#"] {
    cursor: default;
}

#nav ul ul ul, #nav ul ul ul ul {
    border-left: 1px solid #f3f3f3;
    border-top: 0;
}
