@import '../../steelblue/styles/style.css';

.panel, #mainMenu
{
    float: left;
}

.panelTitleText
{
    background: #749abe;
    border-top-left-radius: 10px;
}

.panelTitleRight
{
    height: 26px;
    background: #749abe;
    border-top-right-radius: 10px;
}

.clearfloat
{
    clear: both;
}

div.stacktrace
{
    margin-left: 18px;
    margin-bottom: 8px;
}

.actionpageWrapper
{
    width:100%;
}

#topSpacer
{
    height: 45px;
}