@import '../../steelblue/styles/top.css';

#banner
{
  position: fixed;
  left: 0px;
  top: 0px;
  height: 29px;
  width: 100%;
  margin-bottom: 20px;
}


#bannerLogo
{
  top: 0px;
  height: auto;
  width: auto;
}


#bannerCustomImage
{
  display: none;
}