div.DateTimeAttribute {

  div.DateAttribute {
    display: inline;

    select, input {
      display: inline;
    }
  }

  div.TimeAttribute {
    display: inline;

    select, input {
      display: inline;
    }
  }

}