.atkmanytomanyselectrelation-selection {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}


li.atkmanytomanyselectrelation-addition {
  padding-left: 0px;
}

li.atkmanytomanyselectrelation-selected {
  margin-bottom: 3px;
  margin-left: 20px;
}
