/*
 *  Customization for the ATK framework
 */

.bootstrap-touchspin {
  max-width: 180px;
}

.bootstrap-touchspin-down, .bootstrap-touchspin-up {
  padding: 2.5px 9px;
}

.bootstrap-touchspin .input-group-btn-vertical > .btn {
  margin-top: 0;
  padding: 5.8px 9px;
}