table.recordList {

  width: 100%;

  td:first-child, th:first-child {
    width: 1%;
  }

  th {
    background-color: #428BCA;
    color: #fff;
    text-align: left;

    a {
      color: #fff;
      text-decoration: underline;
    }

    &.recordListSearch {
      background: #ddd;
      border-left-color: #f2f2f2;
      border-right-color: #f2f2f2;
      font-weight: normal;
      position: relative;

      &:first-child {
        border-left-color: inherit;
      }

      &:last-child {
        border-right-color: inherit;
      }

      a {
        color: #428BCA;
      }

      input[type="text"], select {
        width: 100%;
      }

      .search-buttons {
        display: block;
        // white-space: nowrap;
        a {
          text-decoration: none;
        }
      }

    }
  }

  tr {
    .row1 {
      background-color: #ffffff;
    }
    .row2 {
      background-color: #F9F9F9;
    }

    td {
      ul {
        margin: 0;
      }
      .actions {
        display: block;
        white-space: nowrap;
        float: left;

        .btn {
          margin: 0 2px;

          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.table {
  margin-bottom: 0;
}

.recordListContainer {
  width: 100%;
  overflow: auto;
}

.datagrid-paginator-navigation {

  position: relative;

  > div {
    line-height: 28px;
    margin: 0 0 0 10px;
    padding: 0;
    display: inline-block;
    vertical-align: top;

    &:first-child {
      margin: 0;
    }
  }

  .pagination {
    margin: 0;
  }

  &.top {
  }

  &.bottom {
   margin-top: 8px;
  }

  .dglimit label {
    line-height: 28px;
    font-weight: normal;
  }

}

.list-header {
  min-height: 30px;
}