body {
  padding-top: 70px;
  background-color: #ededed;
}

.form-control {
  width: unset;
  max-width: 100%;
  display: inline;
}

.form-control-static {
  margin-bottom: -4px;
}

#action-buttons {
  text-align: center;
  position: relative;
}

.action-buttons-buttons {
  display: inline-block;
  margin: 0 auto;
}

.action-buttons-buttons button, .action-buttons-buttons input[type="submit"] {
  float: right;
  margin: 0 5px;
}

/* action buttons spinner */
#action-buttons .spinner {
  visibility: hidden;
  display: inline-block;
  margin: 2px 0 0 5px;
  position: absolute;
}

span.form-control-static {
  display: block;
}

.form-group.required > .control-label:before, span.required:before {
  content: "✲";
  color: #c70000;
  font-weight: bold;
}

.fieldset-form-group.required > .control-label:before {
  content: "✲";
  color: #c70000;
  font-weight: bold;
}

.fieldset-form-group-field > div, .fieldset-form-group-field > span {
  display: inline-block;
}

.atkfieldset .form-control-static {
  padding-top: 0;
  min-height: inherit;
}

.atkfieldset label.control-label {
  padding-top: 0;
}

.error {
  color: #A94442;
}

.clickable {
  cursor: pointer;
}

.atkmessages {
  background-color: #EEEEEE;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}

.atkmessages_general,
.atkmessages_success,
.atkmessages_failure,
.atkmessages_warning {
  margin-bottom: 1px;
  padding: 3px 6px;
}

.atkmessages_general {
  background-color: yellow;
  color: #000;
}

.atkmessages_success {
  background-color: #339900;
  color: #fff;
}

.atkmessages_warning {
  background-color: orange;
  color: #000;
}

.atkmessages_warning a {
  color: #000;
}

.atkmessages_failure {
  background-color: #ff0000;
  color: #fff;
  padding: 3px 6px;
}

.red {
  color: #9a1010;
}

.bold {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}

#action-helplink {
  width: 100%;
  text-align: right;
  right: 20px;
}

.atkAttrRowHidden {
  display: none !important;
}

.atkfieldset > .fieldset-form-group,
.atkfieldset > .fieldset-form-group > div,
.atkfieldset > .fieldset-form-group input[type="file"]
{
  display: inline;
  // vertical-align: middle;
}

.atkfieldset label {
  font-weight: normal;
}

div.panel-heading {
  position: relative;
}

/*
 * We show/hide the spinner with visibility, not display!
*/

/* box spinner */
#atkbusy {
  visibility: hidden;
  position: absolute;
  right: 6px;
  top: 5px;
  color: #808080;
}

/* action buttons spinner */
#action-buttons .spinner {
  visibility: hidden;
  display: inline;
  margin-left: 5px;
  vertical-align: middle;
  color: #808080;
}

.navbar-brand {
  img {
    max-height: 50px;
    margin: 0 15px 0 15px;
  }
  &.has-logo {
    padding: 0;
  }
}

.main-nav.navbar-right {
  margin-right: -10px;
}

br.atkFileAttributeCheckboxSeparator {
  display: none;
}

.checkbox label {
  margin-right: 15px;
}


.checkbox > span.checkbox-wrapper {
  margin-left: 20px;
}


.login-form {
  .form-control {
    display: block;
    width: 100%;
  }
}

td.fieldlabel {
  font-weight: bold;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid $hr-border;
}

ul {
  list-style-position: outside;
  padding-left: 20px;
}

#top-logout {
  margin-right: 5px;
}

.row.section-item > label, .row.section-item > .fieldlabel {
  padding-right: 0;
  font-weight: bold;
}

.input-group-addon {
  min-width: 25px;
}