$font-size-base: 12px !default;
$line-height-base: 1.66666666666 !default; // 1.53846153846154 !default; // 20/13

$padding-base-vertical: 3px !default;
$padding-base-horizontal: 6px !default;

$table-cell-padding: 5px !default;

$border-radius-base: 2px !default;
$border-radius-large: 2px !default;
$border-radius-small: 2px !default;

$nav-link-padding: 10px 10px !default;

//$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !default;