$font-size-base: 12px !default;
$line-height-base: 1.66666666666 !default; // 1.53846153846154 !default; // 20/13

$padding-base-vertical: 3px !default;
$padding-base-horizontal: 6px !default;

$table-cell-padding: 4px !default;
$table-condensed-cell-padding: 4px !default;

$border-radius-base: 2px !default;
$border-radius-large: 2px !default;
$border-radius-small: 2px !default;

$nav-link-padding: 10px 10px !default;

$form-group-margin-bottom: 4px !default;

$btn-border-radius-base: 4px !default;

$brand-primary: #428BCA !default;

$atk-recordlist-header-color: $brand-primary !default;

$atk-recordlist-search-bg-color: #dddddd !default;

//$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !default;