@media (min-width: $screen-sm-min) {
  .min-width_50 {
    min-width: 50px;
  }

  .min-width_75 {
    min-width: 75px;
  }

  .min-width_100 {
    min-width: 100px;
  }

  .min-width_125 {
    min-width: 125px;
  }

  .min-width_150 {
    min-width: 150px;
  }

  .min-width_175 {
    min-width: 175px;
  }

  .min-width_200 {
    min-width: 200px;
    max-width: 100%;
  }

  .min-width_225 {
    min-width: 225px;
  }

  .min-width_250 {
    min-width: 250px;
  }

  .min-width_300 {
    min-width: 300px;
  }

  .min-width_350 {
    min-width: 350px;
  }

  .min-width_400 {
    min-width: 400px;
  }

  .min-width_450 {
    min-width: 450px;
  }

  .min-width_500 {
    min-width: 500px;
  }
}