</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
<td valign="top" align=right bgcolor="black" width="3"><img src="[IMAGEDIR]/square.gif"
height="5" width="3"></td>
</tr>

<tr>
<td align="left" bgcolor="black" colspan="2" height="3"><img src= 
"[IMAGEDIR]/square.gif" height="5" width="3"></td>
</tr>
</table>

<br>