@import '../../default/styles/atkmanytomanyselectrelation.css';

.atkmanytomanyselectrelation {
    white-space: nowrap;
}

.atkmanytomanyselectrelation-selection {
    padding-left: 0px;
    margin-bottom: 5px;
}

a.atkmanytomanyselectrelation-link {
    color: #ba0000;
}