
body
{
  background: #f3f3f3;
  color: #414141;
  font-size: 12px;
  font-family: Lucida Sans, Lucida Sans Unicode, Tahoma, Trebuchet MS, Arial, Verdana;
}

a:link, a:visited, a:active, td
{
  color: #414141;
  font-size: 12px;
}

a:hover
{
  color: #660000;
  font-size: 12px;
}

/* STACKTRACE */
/* ----------------------------------------------------------------------- */


.stacktrace, a.stacktrace:link, a.stacktrace:visited
{
  font-family: Tahoma, Trebuchet MS, Arial, Verdana;
  font-size: 12px;
  font-style: italic;
  color: #414141;
}

.stacktrace_end
{
  font-family: Lucida Sans, Lucida Sans Unicode, Tahoma, Trebuchet MS, Arial, Verdana;
  font-size: 12px;
  font-style: italic;
  color: #414141;
}

.fieldlabel
{
  font-family: Lucida Sans, Lucida Sans Unicode, Tahoma, Trebuchet MS, Arial, Verdana;
  font-size: 12px;
  color: #414141;
  text-align: left;
  font-weight: normal !important;
  padding: 5px 0px 8px 0px !important;
  width: 200px;
}

.field
{
  font-family: Lucida Sans, Lucida Sans Unicode, Tahoma, Trebuchet MS, Arial, Verdana;
  font-size: 12px;
  color: #414141;
  text-align: left;
  padding-left: 12px;
  padding: 3px 0px 3px 0px;
}

.field a
{
  color: #ba0000;
}

.tab
{
  font-family: Lucida Sans, Lucida Sans Unicode, Tahoma, Trebuchet MS, Arial, Verdana;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}

.tab_selected
{
  font-family: Lucida Sans, Lucida Sans Unicode, Tahoma, Trebuchet MS, Arial, Verdana;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}

.topbg
{
  background: #52006A;
}

.menubg
{
  background: #F00;
}

.error, .errorlabel
{
  color: #FF0000;
  font-family: Lucida Sans, Lucida Sans Unicode, Tahoma, Trebuchet MS, Arial, Verdana;
  font-size: 12px;
  text-align: left;
}

.atkmessages
{
  background-color: #EEEEEE;
  color: #000000;
  font-family: Lucida Sans, Lucida Sans Unicode, Tahoma, Trebuchet MS, Arial, Verdana;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

#action-buttons
{
  text-align: right;
}

ul, ol, li
{
  margin: 0px;
  padding: 0px;
  list-style-position: inside;
}



/* BOX */
/* ------------------------------------------------------------------ */

.actionpageWrapper
{
  position: relative;
  width: 93%;
  padding: 8px 18px 0 18px;
}

.panelTitle
{
  position: relative;
  height: 26px;
}

.panelTitleText
{
  display: table;
  margin: 0;
  padding: 7px 4px 0px 12px;
  height: 19px;
  float: left;

  background: #fff url(../images/tabLeft.gif) no-repeat left top;
  font-size: 13px;
  font-family: Lucida Sans, Lucida Sans Unicode, Tahoma, Trebuchet MS, Arial, Verdana;
  text-transform: capitalize;
  font-weight: bold;
  color: #FFFFFF;
}

.panelTitleRight
{
  position: relative;
  width: 12px;
  float: left;
}

.panelHeader
{
  position: relative;
  background: #fff url(../images/contentheaderleft.jpg) no-repeat left top;
  height: 12px;
  font-size: 1px;
}

.panelContent
{
  margin: 0;
  background: #FFFFFF;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.panelContent2
{
  padding: 0 12px 12px 12px;
}

.panelContent2 form
{
  padding: 0;
  margin: 0;
}

.panelFooter
{
  position: relative;
  background: #F3F3F3 url(../images/contentfooterleft.jpg) no-repeat left top;
  height: 33px;
}


/* EDIT FORM */
/* ------------------------------------------------------------------ */

input,
select,
textarea
{
  color: #000000;
  font-family: Lucida Sans, Lucida Sans Unicode, Tahoma, Trebuchet MS, Arial, Verdana;
  font-size: 12px;
  padding: 1px;
}

input.btn,
input.btn_save,
input.btn_cancel,
input.btn_saveandclose,
input.btn_saveandcontinue,
input.btn_saveandnext
{
  color: #000000;
  height: 25px;
  padding: 1px;
}

input.btn_saveandclose
{
  font-weight: bold;
}

#editform td
{
  padding-right: 12px;
  /* white-space: nowrap; */
}

#editform input[type="text"],
#editform textarea,
#editform select,
.contentBlock input[type="text"],
.contentBlock textarea,
.contentBlock select
{
  padding: 1px;
}

.atkcheckbox, .atkradio, .atkbutton, #editform .atkbutton, .contentBlock .atkbutton
{
  border: auto !important;
  padding: 1px;
}

#changeView
{
  position: absolute;
  right: 12px;
  top: -38px;
  text-align: right;
}

#changeView a
{
  color: #9a1010;
}

.currentDate
{
  padding: 4px 0px;
  color: #333;
}

.currentDate a
{
  text-decoration: none;
}


/* LOGIN FORM */
/* ------------------------------------------------------------------ */

.LoginHeader
{
  position: relative;
  background: #fff url(../images/loginheaderleft.jpg) no-repeat left;
  height: 12px;
  width: 530px;
  margin: 0px auto;
}

.LoginFooter
{
  position: relative;
  background: #fff url(../images/contentfooterleft.jpg) no-repeat left;
  height: 33px;
  width: 530px;
  margin: 0px auto;
}

#logologin
{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 269px;
  height: 102px;
}

#loginhelp
{
  margin: 0px auto;
  padding: 10px 0px 20px 0px;
  color: #969696;
  width: 400px;
  text-align: center;
  line-height: 130%;
  letter-spacing: 0.5px;
}

#loginform
{
  position: relative;
  width: 530px;
  padding: 0px;
  margin: 0px auto;
}

#loginform form
{
	padding: 30px 20px 30px 20px;
	margin: 0px;
	border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
	background: #fff;
}

#loginform-title
{
	font-weight: bold;
	margin-bottom: 8px;
}

.loginformField
{
	vertical-align: middle;
	padding: 4px 0px;
}

.loginformLabel
{
	padding-right: 12px;
	vertical-align: middle;
}

.atkonetomanyrelation
{
	color: #ba0000 ! important;
	display: block;
	margin-top: 6px;
}




/* BUTTONS */
/* ------------------------------------------------------------------ */

#action-buttons
{
  text-align: center;
}

.btn_saveandclose, .btn_save, .btn_cancel
{
  padding: 2px !important;
  margin: 0px !important;
}

#editform td
{
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: top;
}

hr
{
  border: none;
  border-top: 1px dashed #666;
  height: 1px; /* whatever the total width of the border-top and border-bottom equal */
  margin-top: 4px;
  margin-bottom: 4px;
}

#remark
{
  width: 95%;
}

.atkboolattribute
{
  border: 0px ! important;
  width: auto ! important;
}


/* COMMON STYLES */
/* ------------------------------------------------------------------ */

.red
{
  color: #9a1010;
}

.bold
{
  font-weight: bold;
}

.capitalize
{
  text-transform: capitalize;
}

.stacktrace
{
  margin: -1px 0px 20px 0px;
}

#action-helplink
{
  width: 100%;
  text-align: right;
  right: 20px;
}

h1
{
  margin: 0px;
  padding: 0px 0px 15px 0px;
}

p
{
  position: relative;
  margin: 0px;
  padding: 0px 0px 10px 0px;
}

p img
{
  margin: 0px 10px 0px 10px;
}

.clear
{
  clear: both;
}

#atkbusy
{
  position: absolute;
  visibility: hidden;
  left: 20px;
  top: 5px;
  z-index: 20;
  height: 22px;
  width: 22px;
}

#searchbutton
{
  margin-top: 5px;
}