/*
#tabs
{
  text-align: left;
  color: #ba0000;
  text-transform: uppercase;
  font-size: 1em;
  margin: 0px auto;
}

#tab-content
{
  border-top: 1px solid;
  border-bottom: 1px solid;
  background: #ffffff;
}
*/
#editform
{
  text-align: left;
}

.mainTabs
{
  border-bottom: 1px solid #e0e0e0; 
}

#tabContainer
{
  padding: 0px;
}

.mainTabs
{
  margin: 0 0 15px 0;
}

.mainTabs a
{
	text-decoration: none;
}

.mainTabs .activetab
{
  display: block;
  padding: 3px 0px 0px 0px;
  margin: 0px;
	color: #414141;
	background: url(../images/subtabon.gif) no-repeat left top;
	width: 105px;
	margin: 0px;
	cursor: default;
	height: 100%;
	text-align: center;
}

.mainTabs .passivetab
{
  display: block;
  padding: 3px 0px 0px 0px;
  margin: 0px;
	border: 0px;
	color: #414141;
	background: url(../images/subtaboff.gif) no-repeat left top;
	width: 105px;
	cursor: pointer;
	height: 100%;
	text-align: center;
}

.tabbedPane .tabsTabs .activetab a
{
  color: #414141;
}

.tabbedPane .tabsTabs .passivetab a
{
  
}

